{% assign baseurl = site.baseurl %}

<!-- Bootstrap -->
<script src="{{ baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
<!-- Slider -->
<script src="{{ baseurl }}/assets/js/tiny-slider.js "></script>
<script src="{{ baseurl }}/assets/js/tiny-slider-init.js "></script>
<!-- MK Lightbox -->
<script src="{{ baseurl }}/assets/js/mklb.js"></script>
<script src="{{ baseurl }}/assets/js/filter.init.js"></script>
<!-- Contact -->
<script src="{{ baseurl }}/assets/js/contact.js"></script>
<!-- Counter -->
<script src="{{ baseurl }}/assets/js/counter.init.js"></script>
<!-- Feather icon -->
<script src="{{ baseurl }}/assets/js/feather.min.js"></script>
<!-- Typed -->
<script src="{{ baseurl }}/assets/js/typed.js"></script>
<!-- Autocomplete -->
<script src="{{ baseurl }}/blog/search.json"></script>
<script src="{{ baseurl }}/assets/js/auto-complete.min.js"></script>
<!-- Timeline -->
<script src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>
<!-- Main Js -->
<script src="{{ baseurl }}/assets/js/app.js"></script>
