<!-- javascript -->
<script src="{{ '/assets/js/bootstrap.bundle.min.js' | prepend: site.baseurl }}"></script>
<!-- SLIDER -->
<script src="{{ '/assets/js/tiny-slider.js' | prepend: site.baseurl }} "></script>
<script src="{{ '/assets/js/tiny-slider-init.js' | prepend: site.baseurl }} "></script>
<!-- MK Lightbox -->
<script src="{{ '/assets/js/mklb.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/filter.init.js' | prepend: site.baseurl }}"></script>
<!-- Contact -->
<script src="{{ '/assets/js/contact.js' | prepend: site.baseurl }}"></script>
<!-- Counter -->
<script src="{{ '/assets/js/counter.init.js' | prepend: site.baseurl }}"></script>
<!-- Feather icon -->
<script src="{{ '/assets/js/feather.min.js' | prepend: site.baseurl }}"></script>
<!-- Typed -->
<script src="{{ '/assets/js/typed.js' | prepend: site.baseurl }}"></script>
<!-- Autocomplete -->
<script src="{{ '/blog/search.json' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/auto-complete.min.js' | prepend: site.baseurl }}"></script>
<!-- Main Js -->
<script src="{{ '/assets/js/app.js' | prepend: site.baseurl }}"></script>
