---
layout: default
---

{% include navbar.html %}

{{ content }}

<!-- Footer Start -->
<footer class="footer bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <a href="#"><img src="{{site.baseurl}}/assets/images/logo-light.png" height="35" alt=""></a>
                <p class="para-desc mx-auto mt-5">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                <ul class="list-unstyled mb-0 mt-4 social-icon">
                    {% include social_icons.html %}
                </ul>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer><!--end footer-->
<footer class="footer footer-bar bg-dark">
    <div class="container text-foot text-center">
        <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Sergio Susa. Design with <i class="mdi mdi-heart text-danger"></i> by <a href="http://shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p>
    </div><!--end container-->
</footer><!--end footer-->
<!-- Footer End -->

<!-- Back to top -->
<a href="#" onclick="topFunction()" class="back-to-top rounded text-center" id="back-to-top">
    <i class="mdi mdi-chevron-up d-block"> </i>
</a>
<!-- Back to top -->

{% include javascript.html %}